@charset 'utf-8';
@viewport { width: device-width; zoom: 1; }

/*



RESET



*/

* { margin: 0; padding: 0; border: 0; box-sizing: border-box!important; font-size: 100%; }
html { height: 100%; scroll-behavior: smooth; }
body { height: 100%; }
ol, ul, li { list-style: none; }
blockquote, q { quotes: none; }
a {text-decoration: none;}

/*



DESIGN TOKENS



*/

/* Colors */

:root {
    --primary-88: #E0A52D;
    --secondary-72: #4271B8;
    --secondary-88: #75A0E0;
    --gray-96: #F5F2EB;
    --gray-72: #B8AE9A;
    --gray-32: #524E45;
    --gray-16: #292722;
    --gray-12: #1F1E1B;
}

.primary-88 {color: var(--primary-88);}
.secondary-72 {color: var(--secondary-72);}
.secondary-88 {color: var(--secondary-88);}
.gray-96 {color: var(--gray-96);}
.gray-72 {color: var(--gray-72);}
.gray-32 {color: var(--gray-32);}
.gray-16 {color: var(--gray-16);}
.gray-12 {color: var(--gray-12);}
.bg-gray-16 {background-color: var(--gray-16);}
.bg-gray-12 {background-color: var(--gray-12);}
.bg-primary-88 {background-color: var(--primary-88);}

/* Fonts */

.text-4xl, .text-3xl, .text-2xl, .text-xl, .text-lg, .text-md{
    font-family: 'EB Garamond', serif;
}
.text-base, .text-sm, .text-xs,{
    font-family: 'Inter', sans-serif;
}

/* Text style */

.text-center {text-align: center;} .text-right {text-align: right;}

/* Font weight */

.font-normal {font-weight: 400;} .font-semibold {font-weight: 600;}

/* Font variant */

.italic {font-style: italic; }

/*



SMALL DEVICES



*/

/* Typescale */

.text-4xl {
    font-size: 4rem; /* 64px */
    line-height: 100%;
}
.text-3xl {
    font-size: 3rem; /* 48px */
    line-height: 100%;
}
.text-2xl {
    font-size: 2.5rem; /* 40px */
    line-height: 100%;
}
.text-xl {
    font-size: 2rem; /* 32px */
    line-height: 100%;
}
.text-lg {
    font-size: 1.5rem; /* 24px */
    line-height: 125%;
}
.text-md {
    font-size: 1.125rem; /* 18px */
    line-height: 150%;
}
.text-sm {
    font-size: 0.875rem; /* 14px */
    line-height: 150%;
}
.text-xs {
    font-size: 0.75rem; /* 12px */
    line-height: 150%;
}

/* Layout */

.container {width: 100%;}

/* Grid */
    
.grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    column-gap: 1rem; /* 16px */
}
.grid-cols-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1rem; /* 16px */
}

/* Columns */

.s-col-span-1 {grid-column: span 1;}
.s-col-span-2 {grid-column: span 2;}
.s-col-span-3 {grid-column: span 3;}
.s-col-span-4 {grid-column: span 4;}
.s-col-span-6 {grid-column: span 6;}

/* Position */

.s-top--16 {top: -1rem;} /* -16px */
.s-top--12 {top: -0.75rem;} /* -12px */

/* Margins */

.s-ml-4 {margin-left: 0.25rem;} /* 4px */
.s-ml-8 {margin-left: 0.5rem;} /* 8px */
.s-mt--16 {margin-top: -1rem;} /* -16px */
.s-mt-2 {margin-top: 0.125rem;} /* 2px */
.s-mt-4 {margin-top: 0.25rem;} /* 4px */
.s-mt-8 {margin-top: 0.5rem;} /* 8px */
.s-mt-12 {margin-top: 0.75rem;} /* 12px */
.s-mt-16 {margin-top: 1rem;} /* 16px */
.s-mt-24 {margin-top: 1.5rem;} /* 24px */
.s-mt-32 {margin-top: 2rem;} /* 32px */
.s-mt-48 {margin-top: 3rem;} /* 48px */
.s-mt-64 {margin-top: 4rem;} /* 64px */
.s-mt-72 {margin-top: 4.5rem;} /* 72px */
.s-mt-96 {margin-top: 6rem;} /* 96px */

.s-mr-16 {margin-right: 1rem;} /* 16px */

/* Paddings */

.s-px-16 {padding-left: 1rem; padding-right: 1rem;} /* 16px */

.s-py-8 {padding-top: .5rem; padding-bottom: .5rem;} /* 8px */
.s-py-16 {padding-top: 1rem; padding-bottom: 1rem;} /* 16px */
.s-py-64 {padding-top: 4rem; padding-bottom: 4rem;} /* 64px */

.s-pt-64 {padding-top: 4rem;} /* 64px */

.s-pb-4 {padding-bottom: 0.25rem;} /* 8px */
.s-pb-16 {padding-bottom: 1rem;} /* 8px */
.s-pb-32 {padding-bottom: 2rem;} /* 16px */
.s-pb-64 {padding-bottom: 4rem;} /* 64px */

.s-p-16 {padding: 1rem;} /* 16px */

.s-justify-self-auto {justify-self: auto;}

.s-hidden {display: none;}

/*



MEDIUM DEVICES



*/

@media (min-width: 48rem) {
    
    /* Typescale */
    
    .text-4xl {
        font-size: 6rem; /* 96px */
        line-height: 100%;
    }
    .text-3xl {
        font-size: 4rem; /* 64px */
        line-height: 100%;
    }
    .text-2xl {
        font-size: 3rem; /* 48px */
        line-height: 100%;
    }
    .text-xl {
        font-size: 2.5rem; /* 40px */
        line-height: 100%;
    }
    .text-lg {
        font-size: 2rem; /* 32px */
        line-height: 125%;
    }
    .text-sm {
        font-size: 1rem; /* 16px */
        line-height: 150%;
    }
    
    /* Grid */
    
    .grid {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        column-gap: 1.5rem; /* 24px */
    }
    .grid-cols-2 {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 1.5rem; /* 24px */
    }
    
    
    /* Columns */
    
    .m-col-span-1 {grid-column: span 1;}
    .m-col-span-2 {grid-column: span 2;}
    .m-col-span-3 {grid-column: span 3;}
    .m-col-span-4 {grid-column: span 4;}
    .m-col-span-6 {grid-column: span 6;}
    .m-col-span-8 {grid-column: span 8;}
    .m-col-span-12 {grid-column: span 12;}
    .m-col-2-5 {grid-column: 2 / 5;}
    .m-col-2-8 {grid-column: 2 / 8;}
    .m-col-5-8 {grid-column: 5 / 8;}
    
    /* Position */
    
    .m-top--24 {top: -1.5rem;} /* -24px */
    
    /* Margins */
    
    .m-mt--24 {margin-top: -1.5rem;} /* -24px */
    
    .m-mt-0 {margin-top: 0rem;} /* 0px */
    .m-mt-4 {margin-top: 0.25rem;} /* 4px */
    .m-mt-12 {margin-top: 0.75rem;} /* 12px */
    .m-mt-16 {margin-top: 1rem;} /* 16px */
    .m-mt-24 {margin-top: 1.5rem;} /* 24px */
    .m-mt-48 {margin-top: 3rem;} /* 48px */
    .m-mt-64 {margin-top: 4rem;} /* 64px */
    .m-mt-72 {margin-top: 4.5rem;} /* 72px */
    .m-mt-96 {margin-top: 6rem;} /* 96px */
    .m-mt-128 {margin-top: 8rem;} /* 128px */
    .m-mt-192 {margin-top: 12rem;} /* 192px */
    
    .m-mr-24 {margin-right: 1.5rem;} /* 24px */
    
    /* Paddings */

    .m-px-0 {padding-left: 0rem; padding-right: 0rem;} /* 0px */
    .m-px-24 {padding-left: 1.5rem; padding-right: 1.5rem;} /* 0px */
    .m-px-32 {padding-left: 2rem; padding-right: 2rem;} /* 32px */
    .m-py-64 {padding-top: 4rem; padding-bottom: 4rem;} /* 64px */
    
    .m-p-24 {padding: 1.5rem;} /* 24px */
    
    .m-block {display: block;}
}

/*



LARGE DEVICES



*/

@media (min-width: 80rem) {
    
    /* Typescale */

    .text-4xl {
        font-size: 8rem; /* 128px */
        line-height: 100%;
    }
    .text-3xl {
        font-size: 6rem; /* 96px */
        line-height: 100%;
    }
    .text-2xl {
        font-size: 4rem; /* 64px */
        line-height: 100%;
    }
    .text-xl {
        font-size: 3rem; /* 48px */
        line-height: 100%;
    }
    .text-lg {
        font-size: 2rem; /* 32px */
        line-height: 125%;
    }
    .text-md {
        font-size: 1.25rem; /* 20px */
        line-height: 150%;
    }
    .text-sm {
        font-size: 1rem; /* 16px */
        line-height: 150%;
    }
    .text-xs {
        font-size: .875rem; /* 14px */
        line-height: 150%;
    }
    
    /* Container */
    
    .container {
        width: 1216px;
    }
    
    /* Grid */
    
    .grid {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        column-gap: 2rem; /* 32px */
    }
    .grid-cols-2 {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 2rem; /* 32px */
    }
    .grid-cols-3 {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 2rem; /* 32px */
    }

    /* Columns */
    
    .l-col-span-1 {grid-column: span 1;}
    .l-col-span-3 {grid-column: span 3;}
    .l-col-span-4 {grid-column: span 4;}
    .l-col-span-6 {grid-column: span 6;}
    .l-col-span-7 {grid-column: span 7;}
    .l-col-span-8 {grid-column: span 8;} /*  2 equally distributed img in a same row */
    .l-col-span-12 {grid-column: span 12;}
    .l-col-span-16 {grid-column: span 16;}
    .l-col-1-3 {grid-column: 1 / 3;}
    .l-col-1-6 {grid-column: 1 / 6;}
    .l-col-1-7 {grid-column: 1 / 7;}
    .l-col-2-5 {grid-column: 2 / 5;} /* Figcaption */
    .l-col-2-6 {grid-column: 2 / 6;}
    .l-col-2-8 {grid-column: 2 / 8;}
    .l-col-2-16 {grid-column: 2 / 16;}
    .l-col-3-7 {grid-column: 3 / 7;}
    .l-col-3-11 {grid-column: 3 / 11;}
    .l-col-3-15 {grid-column: 3 / 15;}
    .l-col-4-9 {grid-column: 4 / 9;}
    .l-col-5-9 {grid-column: 5 / 9;}
    .l-col-5-13 {grid-column: 5 / 13;}
    .l-col-7-9 {grid-column: 7 / 9;}
    .l-col-7-11 {grid-column: 7 / 11;}
    .l-col-7-13 {grid-column: 7 / 13;}
    .l-col-8-16 {grid-column: 8 / 16;}
    .l-col-9-11 {grid-column: 9 / 11;}
    .l-col-9-13 {grid-column: 9 / 13;}
    .l-col-9-14 {grid-column: 9 / 14;}
    .l-col-9-17 {grid-column: 9 / 17;}
    .l-col-11-17 {grid-column: 11 / 17;}
    .l-col-12-17 {grid-column: 12 / 17;}
    
    /* Position */
    
    .l-top--32 {top: -2rem;} /* -32px */
    .l-left-32 {top: 2rem;} /* 32px */
    
    /* Margins */
    
    .l-mt--32 {margin-top: -2rem;} /* -32px */
    .l-mt-0 {margin-top: 0rem;} /* 0px */
    .l-mt-8 {margin-top: 0.5rem;} /* 8px */
    .l-mt-16 {margin-top: 1rem;} /* 16px */
    .l-mt-24 {margin-top: 1.5rem;} /* 24px */
    .l-mt-32 {margin-top: 2rem;} /* 32px */
    .l-mt-48 {margin-top: 3rem;} /* 48px */
    .l-mt-64 {margin-top: 4rem;} /* 48px */
    .l-mt-96 {margin-top: 6rem;} /* 96px */
    .l-mt-128 {margin-top: 8rem;} /* 128px */
    .l-mt-192 {margin-top: 12rem;} /* 192px */
    .l-mt-280 {margin-top: 17.5rem;} /* 320px */
    
    .l-mr-32 {margin-right: 2rem;}
    
    .l-mx-32 {margin-left: 2rem; margin-right: 2rem;}
    
    /* Paddings */
    
    .l-py-16 {padding-top: 1rem; padding-bottom: 1rem;} /* 16px */
    .l-py-24 {padding-top: 1.5rem; padding-bottom: 1.5rem;} /* 24px */
    .l-py-32 {padding-top: 2rem; padding-bottom: 2rem;} /* 32px */
    .l-py-128 {padding-top: 8rem; padding-bottom: 8rem;} /* 128px */
    
    .l-px-0 {padding-left: 0rem; padding-right: 0rem;} /* 0px */
    .l-px-32 {padding-left: 2rem; padding-right: 2rem;} /* 32px */
    .l-pt-96 {padding-top: 6rem;} /* 96px */
    
    .l-pb-8 {padding-bottom: 0.5rem;} /* 8px */
    .l-pb-32 {padding-bottom: 2rem;} /* 16px */
    
    .l-p-32 {padding: 2rem;} /* 32px */
    
    .l-justify-self-end {justify-self: end;}
    
    .l-block {display: block;}
}

/*



GENERAL STYLES



*/

/* Layout */

header, section, footer {width: 100%;}
img {max-width: 100%;}

.w-100 {width: 100%;}
.w-96px {width: 96px;}
.h-100 {height: 100%;}
.content-w {max-width: 40rem;}
.container-80h {height: 80%;}

.top-0 {top: 0;}

.flex {display: flex;}
.inline-block {display: inline-block;}

.gap-8 {column-gap: 0.5rem;}
.gap-16 {column-gap: 1rem;}

.absolute {position: absolute;}
.fixed {position: fixed;}
.relative {position: relative;}

.z-0 {z-index: 0;} .z-1 {z-index: 1;}

/* Buttons */

.link:hover {
    text-decoration: underline;
}
.btn-secondary {
    padding: 0.5rem 1rem;
    border: 1px solid var(--secondary-88);
    border-radius: 2rem;
}
.btn-secondary:hover {
    background-color: var(--secondary-88);
    color: var(--gray-96);
}
.card h2:hover, .card h4:hover {
    text-decoration: underline;
}

/* Borders */

.border-t {border-top: 1px solid} .border-b {border-bottom: 1px solid;} .border {border: 1px solid;} .border-x {border-left: 1px solid; border-right: 1px solid;} .border-y {border-top: 1px solid; border-bottom: 1px solid;}
.rounded {border-radius: 0.5rem;}

/* Components */

.badge {
    border-radius: 2rem;
    padding: 0 .5rem;
}
.tag {
    border: 1px solid;
    border-radius: 2rem;
    padding: 0.25rem 0.75rem;
}

/* Modifiers */

.items-center {align-items: center;} .items-start {align-items: flex-start;}
.justify-center {justify-content: center;} .justify-between {justify-content: space-between;}
.justify-items-center {justify-items: center;}
.justify-self-center {justify-self: center;} .justify-self-end {justify-self: end;}
.flex-row {flex-direction: row;} .flex-col {flex-direction: column;} .flex-wrap {flex-flow: wrap;}
.self-start {align-self: flex-start;} .self-center {align-self: center;} .self-end {align-self: end;}

.max-content {grid-auto-rows: max-content;}
.w-fit {width: fit-content;}
.h-80vh {height: 80vh;}
.overflow-hidden {overflow: hidden;}

/*



UNIQUE STYLING



*/

/* Unique backgrounds for articles' header */

#article-001 {
    height: 100%;
    background: center center url(../assets/20211010-100008.jpg) rgba(0, 0, 0, .24);
    background-size: cover;
    background-blend-mode: multiply;
}
#collection-01 {
    height: 100%;
    background: center center url(../assets/20220125-131059.jpg) rgba(48, 12, 12, .48);
    background-size: cover;
    background-blend-mode: multiply;
}
#collection-02 {
    height: 100%;
    background: center center url(../assets/20210605-193727.jpg) rgba(48, 12, 12, .48);
    background-size: cover;
    background-blend-mode: multiply;
}

/* */

.carousel {
    height: 60vh;
}

.carousel-cell {
    width: 80vw;
    height: inherit;
    counter-increment: gallery-cell;
}